/*-------- Welcome section --------*/

.wel-section {
  position: relative;
  width: 100%;
  height: 100%;
}

.wel-section .col-left {
  justify-content: center;
}

.wel-section .col-right {
  position: relative;
  justify-content: center;
}

.wel-section .pt {
  padding-top: 0;
}

.wel-section .header-photo img {
  width: 100%;
  filter: grayscale(50%);
}

.wel-section .header-photo img.img-circle {
  border-radius: 50%;
}

.wel-section .hello {
  font-size: 20px;
  font-weight: 300;
  color: #999;
  text-transform: uppercase;
  padding-bottom: 20px;
  padding-left: 2px;
}

.wel-section .name {
  font-size: 70px;
  line-height: 80px;
  color: #f1b200;
  text-transform: uppercase;
  font-weight: 300;
}

.wel-section .name span {
  font-weight: 600;
}

.wel-section .expart {
  padding-top: 20px;
  font-weight: 300;
  font-size: 22px;
  line-height: 34px;
  color: #666666;
  padding-left: 2px;
}

.wel-content .header-contact-infos {
  border-color: #444;
}

.header-contact-infos {
  border-top: 1px solid #eeeeee;
  position: absolute;
  bottom: 0;
  left: 140px;
}

.header-contact-info+.header-contact-info {
  padding-left: 145px;
}

.header-contact-info {
  font: 400 15px "Poppins", sans-serif;
  color: #999;
  text-decoration: none;
  display: inline-block;
  padding: 33px 0px;
  transition: all 0.4s linear;
}

.header-contact-info i {
  margin-right: 5px;
}

.wel-social {
  display: block;
  margin-top: 30px;
  margin-left: 48px;
}

.wel-social a {
  color: #666;
  transition: color 0.25s ease;
  font-size: 25px;
  margin-left: 20px;
}

.wel-social a:hover,
.header-contact-infos a:hover {
  color: #f1b200;
  transition: color 0.25s ease;
  text-decoration: none;
}


/*-------- About section --------*/

.about .content {
  padding-right: 25px;
}

.about .content p {
  color: #888;
}


/*-------- Education section --------*/

.education .timeline:before {
  bottom: 75px;
}


/*-------- Soft-skills section --------*/

.soft-skills a {
  padding: 10px 15px;
  width: 100%;
  text-align: left;
  display: inline-block;
  border-bottom: 2px solid #444;
  color: #999;
}

.soft-skills a i {
  transition: .6s;
  margin-top: 8px;
}

.soft-skills .collapsed i {
  transform: rotate(-90deg);
  transition: .6s;
  margin-top: 8px;
}

.soft-skills a:hover {
  text-decoration: none;
  color: #f1b200;
}

.soft-skills .show {
  width: 100% !important;
}

.soft-skills .card {
  border-radius: 0;
  border: none;
  border-bottom: 2px solid #444;
  background-color: #292a2a;
  font-size: 14px;
}

.soft-skills .card.card-body {
  padding: 10px 15px;
  line-height: 25px;
}


/*-------- Technology-skills section --------*/

.technology-skills .skill.mb-c {
  margin-bottom: 45px;
}

.technology-skills .skill .icon {
  display: table-cell;
}

.technology-skills .skill .icon svg {
  font-size: 40px;
  color: #f1b200;
  margin-top: 7px;
  margin-right: 30px;
}

.technology-skills .skill .description {
  display: table-cell;
  vertical-align: top;
}


/*-------- Expertise section --------*/

.expertise .mb-c {
  margin-bottom: 45px;
}

.expertise .icon {
  display: table-cell;
}

.expertise .icon svg {
  font-size: 40px;
  color: #f1b200;
  margin-top: 4px;
  margin-right: 30px;
}

.expertise .description {
  display: table-cell;
  vertical-align: top;
}


/*-------- Experiences section --------*/

.experiences .timeline:before {
  bottom: 220px;
}

.experiences .mentor {
  margin-top: 60px;
}

.experiences .mentor .timeline:before {
  bottom: -20px;
}


/*-------- Awards section --------*/

.awards .award .icon {
  display: table-cell;
}

.awards .award .icon svg {
  font-size: 40px;
  color: #f1b200;
  margin-top: 7px;
  margin-right: 30px;
}

.awards .award .description {
  display: table-cell;
  vertical-align: top;
}


/*-------- Activities section --------*/

.activities .activity .icon {
  display: table-cell;
}

.activities .activity .icon svg {
  font-size: 40px;
  color: #f1b200;
  margin-top: 6px;
  margin-right: 30px;
}

.activities .activity .description {
  display: table-cell;
  vertical-align: top;
}


/*-------- Footer section --------*/

.footer a {
  color: #666;
  transition: color 0.25s ease;
}

.footer .col-right a {
  font-size: 20px;
}

.footer a:hover {
  color: #f1b200;
  text-decoration: none;
}